* {
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
.bg {
  display: block;
  position: relative;
}
.shuffling-figure {
  position: absolute;
  top: 13%;
  left: 50%;
  z-index: 1;
  width: 80%;
  height: 67%;
  padding: 0 18%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  box-sizing: border-box;
}
.shuffling-figure .show-img {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 800px;
  transform-origin: center center;
}
.shuffling-figure .show-img li {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  transition: 0.8s all;
}
.shuffling-figure .show-img li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  transition: 0.3s all;
}
.shuffling-figure .show-img li.l2 {
  opacity: 0;
  transform: scale(0.8) rotateY(0deg) translateX(-30%);
}
.shuffling-figure .show-img li.l1 {
  z-index: 2;
  opacity: 2;
  transform: scale(0.9) rotateY(14deg) translateX(-47%);
}
.shuffling-figure .show-img li.cur {
  z-index: 3;
  opacity: 1;
  transform: scale(1) rotateY(0deg) translateX(0%) translateZ(56px);
}
.shuffling-figure .show-img li.cur:after {
  background: rgba(0, 0, 0, 0);
}
.shuffling-figure .show-img li.r1 {
  z-index: 2;
  opacity: 1;
  transform: scale(0.9) rotateY(-14deg) translateX(47%);
}
.shuffling-figure .show-img li.r2 {
  opacity: 0;
  transform: scale(0.8) rotateY(0deg) translateX(30%);
}
.shuffling-figure .btn-box {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.shuffling-figure .btn-box .next,
.shuffling-figure .btn-box .prev {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 100%;
  transform: translate(0, -50%);
}
.shuffling-figure .btn-box .next img,
.shuffling-figure .btn-box .prev img {
  position: absolute;
  top: 50%;
  width: 20%;
  transform: translate(0%, -50%);
}
.shuffling-figure .btn-box .prev {
  left: 0;
}
.shuffling-figure .btn-box .prev img {
  left: 0;
}
.shuffling-figure .btn-box .next {
  right: 0;
}
.shuffling-figure .btn-box .next img {
  right: 0;
}
