* {
    margin: 0;
    padding: 0;
}
html,
body {
    position: relative;
	width: 100%;
	height: 100%;
    max-width: 640px;
	margin: 0 auto;
	overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center top;
    background-size: 100% auto;
    animation: shakeAllEff 0.4s 0.7s ease-out both;
}

.bg .ren {
    position: absolute;
    top: 22%;
    left: 0%;
    z-index: 0;
    width: 100%;
    animation: am-scale-up 0.8s linear;
}

@-webkit-keyframes shakeAllEff {
    0%,
    30%,
    60%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    15%,
    45%,
    75% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

@-webkit-keyframes am-scale-up {
    0% {
        opacity: 0;
        -webkit-transform: scale(5, 5);
        transform: scale(5, 5);
    }
    65% {
        opacity: 0;
        -webkit-transform: scale(5, 5);
        transform: scale(5, 5);
    }
    85% {
        opacity: 1;
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
    95% {
        opacity: .9;
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}